* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: min(90%, 1200px);
    width: 0 auto;
    max-width: 100%;
    margin: 0 auto;
}


body {
    padding-top: 120px;

}


h2 {
    font-family: Delius Unicase;
    font-size: 2.25rem;
    color: #000;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1.8px;
    margin-bottom: 60px;


}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 120px;

}


img {
    width: 100%;
    border-radius: 20px;
    background: var(--blure, linear-gradient(0deg, #241F24 0%, rgba(91, 91, 91, 0.45) 34.11%, rgba(187, 186, 192, 0.26) 62.5%));

}


.col-2 {
    grid-column: span 2;
    aspect-ratio: 2;
}

.row-2 {
    grid-row: span 2;
    aspect-ratio: 0.5;
}

.col-2-row-2 {
    grid-column: span 2;
    grid-row: span 2;

}